.fileExplorerDirectoryTreeContainer {
    background-color: #e9e9f0;
    padding: 9%;
    border-radius: 0.5rem;
    font-size: 80%;
    color: #e9e9f0;
    padding-top: 9%;
    max-height: 500px;
    min-height: 500px;
    background-color: #1b1d24;
    filter: drop-shadow(0px 0px 5px #4e4949);
}

.fileExplorerDirectoryTree {
    background-color: #1b1d24;
    overflow-y: auto;
    max-height: 430px;
    overflow-y: auto;
    margin-left: 2px;
}

.fileExplorerDirectoryTree::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}

.fileExplorerDirectoryTree::-webkit-scrollbar-thumb {
    background-color: #d4d3da8f;
    border-radius: 4px;
}

.fileExplorerDirectoryTree::-webkit-scrollbar-track {
    background-color: #4f4f639f;
    border-radius: 4px;
}


@media screen and (max-width: 768px) {
    .fileExplorerDirectoryTreeContainer {
        padding: 5%;
        padding-top: 5%;
        padding-bottom: 100%;
        font-size: 60%;
        max-height: 300px;
        min-height: 300px;

    }

    .fileExplorerDirectoryTree {
        background-color: #1b1d24;
        overflow-y: auto;
        max-height: 430px;
    }
    
}