@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  text-align: center;
  
}

.background {
  background-color: #111114;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-size: 20px;
  display: inline;
  padding: 2px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* Projects Page */

.toolsContainer {
  background-color: #b6ae99;
  padding-top: 1.75%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 0.5rem;
  filter: drop-shadow(5px 5px 15px rgb(43, 41, 41))
}

/* File Explorer */

.fileDisplay /* For the file display element buttons */ {
  text-align: center;
  display: inline;
  width: 45%;
  margin: 1%;
}

.fileUpload /* For the file display element buttons */ {
  display: auto;
  width: 50%;
  margin: auto;
  font-size: 75%;
}

.filesListed /* For the file display element buttons */ {
  display: grid;
  gap: 0rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.fileReturned {
  display: flex;
  flex-direction: column;
  inline-size: min-content;
  justify-content: top;
  align-items: center;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 50ms;
  overflow: wrap;
  word-break: break-all;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #2a2b30;
}

.fileReturnedText {
  margin: 0px;
  word-break: break-all;
  text-align: center;
  font-size: 35%;
  padding-bottom: 15px;
  color: white;
}

.fileExplorerButton {
  font-size: 100%;
  margin-right: 5%;
  padding: 5px;
  padding-left: 15px;
  padding-right: 17px;
  width: 50px;
  background-color: #ebebeb;
  border-color: #2b2d31;
  color: #222125;
}

.fileReturnedButton {
  background-color: #e9e9f1;
  border-color: #2b2d3100;
  color: #2a2b30;
}

.fileReturnedButtonSelected {
  background-color: #313135;
  color: white;
}

.fileReturnedIcon {
  color: #2a2b30;
}

.fileReturnedIconSelected {
  color: white;
}

.toggle {
  border-color: #4f5055;
}

.toggle-text {
  color: white;
}



/* Xml to Json */

.xmlToJsonInput {
  background-color: #292a2e;
  color: white;
}


.socialMedia {
  font-size: 100%;
}

.socialMediaIcon {
  font-size: 150%;
  padding: 0px;
  color: white;
}

.navTitle {
  font-size: 130%;
}

/* Nav */
.nav-name {
  color: #241e15
}

.nav-link {
  color: #ffffff
}


/* OVERRIDES */
.overrideArticle {
  padding-top: 0.5%;
  padding-bottom: 2%;
  background-color: #1b1d24;
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
  /* background-color: #191a1f */
}

.overrideHeading {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

.overrideSubHeading {
  color: #000000;
}

.white-text {
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
}

.portrait {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(211, 211, 211, 0.925);
  filter: drop-shadow( 7px 7px 0px rgba(65, 65, 65, 0.705))
}

.file-preview-container {
  /* width: 500px; */
  height: 500px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.file-preview-video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.file-preview-image {
  max-width: 100%;
  width: 600%;
  max-height: 100%;
  object-fit: contain;
}

.modals {
  background-color: #0f0f11;
}

.modals-header {
  background-color: #1a1a1d;
  color: whitesmoke;
}


.dialogs {
  background-color: #2d2e2fbf;
}
