@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-size: 20px;
  display: inline;
  padding: 2px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.fileDisplay /* For the file display element buttons */ {
  text-align: center;
  display: inline;
  width: 45%;
  margin: 1%;
}

.fileUpload /* For the file display element buttons */ {
  display: inline;
  width: 100%;
  margin: 10px;
  font-size: 75%;
}

.filesListed /* For the file display element buttons */ {
  display: inline;
  width: 100%;
  padding: 0%;
  margin: 0%;
  font-size: 75%;
}

.filesAdd {
  padding: 0%;
  margin-left: 10%;
  display: inline;
  width: 50%;
  
}

.thumbnail {
  text-align: center;
  display: inline;

}
